@import "tailwindcss";
@import "../variables.css";

@layer base {
  :root {
    font-family: var(--font-display);

    color-scheme: light dark;
    background-color: var(--color-dark-background-color);
  }

  main {
    @apply text-center p-[1em] mx-auto;
  }

  body {
    @apply m-0 min-w-[20rem];
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--color-light-background-color);
  }

  a:hover {
    color: var(--color-accent-color);
  }
}

h3 {
  @apply text-text-color uppercase text-[1.5rem] font-extralight my-2 mx-auto;
}

form {
  @apply w-full flex flex-col space-y-2;
}

#form-submit-button {
  @apply h-10 text-center font-semibold rounded-md bg-accent-color;
}

@utility form-input {
  @apply w-full h-10 border-[1px] outline-none border-accent-color focus:ring-2 
  focus:ring-accent-color px-2 py-1 rounded-md;
}

@utility link-color {
  @apply text-[0.5rem] m-[0.5rem] text-text-color no-underline;
}
